@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --blue-res:#0065FC;
    --blue-light-res: #DEEBFF;
    --grey-res: #F2F2F2;
}
html { scroll-behavior: smooth; }
body{
    font-family: "Raleway";
    max-width: 1060px;
    font-weight: 500;
    margin: 0px auto;
    padding: 0px 15px;
    font-size: 0.9rem;    
}

/* GLOBAL */
a { text-decoration: none; color: black; }
ul { list-style: none;}
h1 {
    font-size: 1.4rem;
    font-weight: 800;
}
h2, h3 {margin: 0px}
h2{
    font-size: 1.15rem; 
    font-weight: 800;
}
h3{
    font-weight: 800;
    font-size: 0.9rem;
}
article{
    background-color: white;
    box-shadow: 0 0 5px  #818181b2;
}
p.p_hosting { margin: 2px 0px 0px 0px; }

/* STARS ICON */
.fa-star {font-size: 0.6rem;}
.star_full {color: var(--blue-res);}
.star_empty { color: var(--blue-light-res); }

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
header .logo { 
    display: block; 
    max-width: 100px; 
    align-self: flex-end;
}
header ul{
    display: flex;
    align-items: flex-end; 
    flex-grow: 1;
    padding: 0px;
}
header ul :nth-child(1) { flex-grow:1; }
.header_hosting, .header_activities {
    padding: 30px 20px 0px 20px;
    transition: border 100ms ease-out;
    border-top: 3px solid white; 

}
.header_hosting:hover{ border-top: 3px solid var(--blue-res); }
.header_activities:hover{ border-top: 3px solid var(--blue-res); }
.header_hosting a:hover{ color: var(--blue-res); }
.header_activities a:hover{ color: var(--blue-res); }
 header .subscription{
    color:var(--blue-res);
    font-weight: bold;
    padding-left: 20px;
}
header li a { 
    text-decoration: none;
    color: black; 
    line-height: 50px;
}
header ul :first-child a { max-width: 97px; } 
header ul li {            
    height: 50px; 
    display: flex;
    align-items: center;
}

/*----- NAV */
nav {padding: 0px 10px}
nav p.description { margin: 5px 0px 25px 0px; }

/* FORM */
.search_form{
    display: flex;
    align-items: center;  
    position: relative;
    width: 280px; 
    left: 45px;
}
.icon_localisation{
    background-color: var(--grey-res);
    border-radius: 10px 0px 0px 10px;
    width: 45px;
    inset: 0px auto 0px -45px;
    font-size: 1rem;
}
form { width: 100%; }
input{ 
    border: 1px solid var(--grey-res);
    height: 45px;
    padding-left: 20px;
    width: 100%;
    border-radius: 0px 30px 30px 0px;
}
.icon_localisation, .search_form_button{
     display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
form input:focus { outline: none; }
::placeholder, .search_form_button {
    font-size: 1rem;
    font-weight: 600;
    opacity: 1; /* Pour qu'il apparaisse en noir aussi sur Firefox */
}
::placeholder { color: black; }
nav .search_form_icon_button {display: none;}
.search_form_button{
    inset: 0px -40px 0px auto;
    background-color: var(--blue-res);
    color: white;;
    border-radius: 0px 10px 10px 0px; 
    padding: 0px 10px;
}   

/* FILTERS */
.search_buttons{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
.search_buttons ul{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}
.search_buttons li{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: solid 2px var(--grey-res);
    width: auto;
    height: 40px; 
}
.search_buttons li:hover{ 
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px var(--blue-light-res);
}
#filter_first_li{
    border: 0px;
    padding: 20px 0px;
}
.container_icon_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--blue-res);
    background-color: var(--blue-light-res);
    border-radius: 50%;
    position: relative;
    left:-2px;
}
.search_buttons .filter_icon{ font-size: 1rem; }
.search_buttons li:hover > .container_icon_filter {
    transition: all 0.4s ease-in-out;
    background-color:var(--blue-res);
}
.search_buttons li:hover > .container_icon_filter .filter_icon{
    transition: all 0.4s ease-in-out;
    color: white;
}
.search_buttons_title{ padding: 0px 16px 0px 12px; } 
.nav_info { 
    display: flex; 
    align-items: flex-start;
    margin: 30px 0px;
}
.info_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    padding: 5px;
    border: 1px solid var(--blue-light-res);
    border-radius: 50%;
    margin-right: 8px;
}
.info_icon{
    color: var(--blue-res);
    font-size: 0.6rem;
} 
.nav_info p { margin: 0px; }

/* HOSTINGS + ASIDE */
.container_hosting-popular{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1060px;
}

/* HOSTING */
#hosting_container{
    background-color: var(--grey-res);
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 720px;
    padding: 0 30px 30px 0; 
    margin-right: 30px;
    box-sizing: border-box; 
}
.hosting_title, h3.show_more{
    width: 100%;
    margin: 30px 0px 0px 30px; 
}
.hosting_items{
    flex-grow: 1;
    width: 200px;
    height: 160px;
    padding: 4px;
    border-radius: 10px;
    margin: 30px 0px 0px 30px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 
}
.hosting_items a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.hosting_items img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 90px;
}
.hosting_items_infos{ padding: 5px; }

/* POPULAR */
.popular_container{
    background-color: var(--grey-res);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 100%;
    max-width: 310px;
    padding: 0px 30px 30px; 
    border-radius: 20px;
    box-sizing: border-box;
}
.popular_title_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.popular_title_container .arrow_icon { font-size: 1.5rem; }
.popular_items{
    flex-grow: 1;
    height: 110px;
    padding: 4px;
    border-radius: 10px;
    margin: 30px 0px 0px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box; 
}
.popular_items a { 
    display: flex;
    width: 100%;
 }
.popular_items img{
    object-fit: cover;
    max-height: 300px;
    width: 90px;
    border-radius: 10px 0px 0px 10px;
}
.popular_items_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 10px;
}

/* ACTIVITIES */
#activities_container{   
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1 1 100%;
    margin: 0px -15px; 
    box-sizing: border-box;  
}
.activities_items{   
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-height: 320px;
    width: 100%;
    flex: 1 1 205px;
    margin: 15px; 
}
.activities_items a {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.wrapper1, .wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 205px;
    height: 320px;
    max-height: 350px;
    margin: 15px;   
}
.wrapper1 .activities_items { margin:0px }
.wrapper2 .activities_items { margin: 0px;}
.b1 { max-height: 180px; } 
.b2 { max-height: 130px; }
.d1 { max-height: 155px; } 
.d2 { max-height: 155px; }
.activities_title {
    flex: 1 1 100%;
    margin: 30px 0px 0px 15px;
}
.activities_items img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    flex-grow:1;
}
.activities_items_info{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* FOOTER */
.footer_container {
    background-color: var(--grey-res);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px -40px 0px -40px;
    padding: 0 40px;
}
.footer_item {flex-grow: 1; flex: 1 1 0px;} 
footer ul{
    padding: 0px; 
    flex: 1 1 0px;
}
.footer_li_title { padding-bottom: 15px; }
footer li {
    margin-bottom: 10px; 
    font-weight: initial;
}

@media screen and (max-width: 1024px){

    /* FORM */
    nav .search_form { width: 50%;}
    nav .search_form_icon_button { display: block; }
    nav .search_form_button {
        border-radius: 12px;
        width: 45px;
        height: 45px;
        padding: 0px;
        right: 0px;
    }
   nav input { width: 100%; }
   nav .search_form_button span {display: none}
  
   /* FILTERS */
   nav #filter_first_li { 
       margin-left: 20px;
       padding-top: 30px;
     }
   nav .search_buttons {
       align-items: flex-start;
       flex-direction: column;
       margin: 0px 0px 0px -20px;   
      }
    .search_buttons li { margin-bottom: 20px; }  
    .container_hosting-popular { flex-wrap: wrap-reverse; } 

    /* HOSTING */
    #hosting_container {
        max-width: 100%;
        margin: 0px;
    }
    
    .hosting_items { 
        flex-basis: 250px;  
        height: 180px;
    }
    .hosting_items img {
        height: 110px;
        object-position: bottom center;
    }

    /* POPULAR */
    .popular_container{
        max-width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
    .popular_items{ flex-basis: 100%; }
    .popular_items img { 
        width: 30% ;
        object-position: 50% 70%; 
        
    } 
    

     /* ACTIVITIES */
     .activities_items {min-width: 50%;}
     .activities_items img{ object-position: 50% 45%; }
     .wrapper1 .activities_items, .wrapper2 .activities_items { min-width: 50%; }
     
     /* FOOTER */
    .footer_container { margin: 30px -15px 0px -15px ; }
}

@media screen and (max-width: 631px){
    body {
        padding: 0px; 
        margin: 0px;
    }
    h2 { font-size: 1.4rem; }
    .popular_items h3, .activities_items h3, .hosting_items h3 { font-size: 1rem; }

    /* HEADER */
    header, nav { padding: 0px 30px;}
    header ul {
        padding: 0px; 
        flex-wrap: wrap;    
    }
    header li a { width: 100%; }
    header ul :nth-child(1) {
        order: 1; 
        flex: 1 0 40%;
        margin-right: 5px;
        align-self: center;
        
    }
    header ul :nth-child(2) {
        order: 3; 
        flex: 1 0 40%; 
        margin-left: -30px; 
        font-size: 1.1rem;
        padding: 10px 0px 0px 0px;
        text-align: center; 
        border-bottom: 3px solid var(--grey-res);
        border-top: 0px;
    } 
    .header_hosting:hover{ 
        border-top: 0px;
        border-bottom: 3px solid var(--blue-res);
     }
    .header_activities:hover{ 
        border-top: 0px;
        border-bottom: 3px solid var(--blue-res);
     }
    header ul :nth-child(3) {
        order: 4; 
        flex: 1 0 40%; 
        margin-right: -30px; 
        font-size: 1.1rem;
        padding: 10px 0px 0px 0px; 
        text-align: center; 
        border-top: 0px;
        border-bottom: 3px solid var(--grey-res);}
    header ul :nth-child(4) {
        order: 2; 
        flex: 1 0 40%;
        justify-content: flex-end;
    }
    
    header a.subscription {
         max-width: 97px; 
         text-align: right;
         font-size: 1rem;
         padding: 0px 0px 0px 0px;
        }

    /* HOSTING */
    #hosting_container { 
        padding: 0px 15px 30px 0px;
        background-color: white;
     }
    .hosting_items, h2.hosting_title, h3.show_more {
        flex-basis: 100%;
        margin: 15px 0px 0px 15px;
    }

    

    /* POPULAR */
    .popular_container {
        padding: 0px 15px 30px 15px;
        border-radius: 0px;
     }
    .popular_items {max-width: 100%; }
    .popular_items img {object-fit: center;}
    article.popular_items { margin-top: 15px; }

    /***** NAV */
    nav { align-items: flex-start; }
    nav h1 { margin-top: 0px;}

    /* FORM */
    nav .search_form { width: calc(100% - 45px); }
    input { flex-grow: 1; }
    nav .search_form_icon_button { display: block; }
    nav .search_form_button {
        border-radius: 12px;
        width: 45px;
        height: 45px;
        padding: 0px;
    }

    /* FILTERS */
    nav .search_buttons { margin-left: -10px; }
    .search_buttons li { margin: 0px 0px 10px 10px; }
    nav #filter_first_li { margin-left: 10px; }
   
    /* ACTIVITIES */
    .wrapper2, .wrapper1, .activities_items {flex: 1 1 100%; max-width: 100%; margin-bottom: 0px;}
    .wrapper1, .wrapper2 { max-height: 375px; height: 375px;}
    #activities_container { margin: 0px; }
    .activities_items { max-height: 180px;}
    

    /* FOOTER */
    .footer_container { 
        flex-direction: column; 
        padding: 20px;
        margin: 30px 0px 0px 0px;
    }
}
@media screen and (max-width: 490px){
    .hosting_items img { object-position: center center; }    
    .activities_items img {object-position: 50% 40%}
}
@media screen and (max-width: 330px) { body { min-width: 314px; } }

