@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --blue-res:#0065FC;
    --blue-light-res: #DEEBFF;
    --grey-res: #F2F2F2;
    font-size: 1rem;
}
body{
    font-family: "Raleway";
    max-width: 1060px;
    font-weight: 500;
    margin: 20px auto;
    padding: 0px 2%;
    font-size: 0.9rem;
}

/* body, header, main, ul, section, footer{border: 1px black solid;}
article {border: 1px black solid;} */

/* GLOBAL */

ul { list-style: none;}
h1 {
    font-size: 1.4rem;
    font-weight: 800;
}
h2, h3 {margin: 0px}
h2{
    font-size: 1.05rem; 
    font-weight: 700;
}
h3{
    font-weight: 800;
    font-size: 0.9rem;
}
article{
    background-color: white;
    box-shadow: 0 0 5px  #7e6262;
}
/* .euro { position: relative; bottom: -2px; } */
p.p_hosting { margin: 2px 0px 0px 0px; }

/* STARS ICON */
.fa-star {font-size: 0.6rem;}
.star_full {color: var(--blue-res);}
.star_empty { color: var(--blue-light-res); }

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
/* header .logo {
    width: 80px; 
    padding: 20px 0px; 
} */
header ul{
    display: flex;
    align-items: center; 
    flex-grow: 1;
    padding: 0px;
}
header ul :nth-child(1){ flex-grow:1; }
header ul :nth-child(3){
    color: var(--blue-res);
    font-weight: bold;
}
header ul :nth-child(4){
    color: var(--blue-res);
    font-weight: bold;
}
header li {padding-right: 50px;}
header li a { 
    text-decoration: none;
    color: black; 
}

/*----- NAV */

nav {padding: 0px 10px}
nav p.description { margin: 5px 0px 15px 0px; }

/* FORM */

.search_form{
    display: flex;
    align-items: center;  
    position: relative;
    width: 280px; 
    left: 45px;
}
.icon_localisation{
    background-color: var(--grey-res);
    border-radius: 10px 0px 0px 10px;
    width: 45px;
    inset: 0px auto 0px -45px;
    font-size: 1rem;
    
}
form .chercher_lieu { 
    display: inline-block; 
    border: 1px solid var(--grey-res);
    height: 45px;
    padding-left: 20px;
    width: 100%;

    
}

.icon_localisation, .search_form_button
{
     display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}

form input:focus { outline: none; }
::placeholder, .search_form_button {
    font-size: 1rem;
    font-weight: 600;
    opacity: 1; /* Pour qu'il apparaisse en noir aussi sur Firefox */
}
::placeholder { 
    color: black; 
}
nav .search_form_icon_button {display: none;}
.search_form_button{
    inset: 0px -40px 0px auto;
    background-color: var(--blue-res);
    color: white;;
    border-radius: 0px 10px 10px 0px; 
    padding: 0px 10px;
}   

/* FILTERS */

.search_buttons{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
.search_buttons ul{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}
.search_buttons li{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 2px var(--grey-res);
    width: auto;
    height: 40px; 
}
#filter_first_li{
    border: 0px;
    padding: 20px 0px;
}
.search_buttons .filter_icon{
    padding: 13px;
    color: var(--blue-res);
    background-color: var(--blue-light-res);
    border-radius: 50%;
    font-size: 1rem;
    position: relative;
    left:-2px;
}
.search_buttons_title{ padding: 0px 16px 0px 12px; } /* pour compenser le left-2px de l'icône */
.nav_info { 
    display: flex; 
    align-items: flex-start;
    margin: 30px 0px;
   
}
.info_icon{
    padding: 5px;
    border: 1px solid var(--blue-light-res);
    border-radius: 50%;
    color: var(--blue-res);
    font-size: 0.6rem;
    margin-right: 8px;
}
.nav_info p { margin: 0px; }

/* HOSTINGS + ASIDE */

.container_hosting-popular{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1060px;
}

/* HOSTING */

#hosting_container{
    background-color: var(--grey-res);
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 720px;
    padding: 0 30px 30px 0; /*complète le margin haut et gauche des items */
    margin-right: 30px;
    box-sizing: border-box; /*pour simplifier les calculs en incluant 
                            les paddings et les bordures dans la taille du container*/ 
}
.hosting_title{
    width: 100%;
    margin: 30px 0px 0px 30px; /*complète le margin droit et bas du container*/
}
.hosting_items{
    /* width: 200px; */
    flex-grow: 1;
    width: 200px;
    height: 170px;
    padding: 4px;
    border-radius: 10px;
    margin: 30px 0px 0px 30px; /*complète le margin droit et bas du container*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /*pour simplifier les calculs en incluant 
                            les paddings et les bordures dans la taille du container*/
}
.hosting_items img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}
.hosting_items_infos{ padding: 5px; }

/* POPULAR */

.popular_container{
    background-color: var(--grey-res);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: fit-content;
    max-width: 310px;
    padding: 0px 30px 30px; 
    border-radius: 20px;
    box-sizing: border-box; /*pour simplifier les calculs en incluant 
                            les paddings et les bordures dans la taille du container*/
}
.popular_title{
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.popular_items{
    flex-grow: 1;
    height: 110px;
    padding: 4px;
    border-radius: 10px;
    margin: 30px 0px 0px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box; /*pour simplifier les calculs en incluant 
                            les paddings et les bordures dans la taille du container*/
}
.popular_items img{
    object-fit: cover;
    max-height: 300px;
    width: 40%;
    border-radius: 10px 0px 0px 10px;
}
.popular_items_info{
    padding: 5px 0px 5px 10px;
}

/* ACTIVITIES */

#activities_container{   
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1060px;
    box-sizing: border-box;  
}
.activities_items{   
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-height: 300px;
    width: 100%;
    flex: 1 1 205px;
    margin: 15px; 
}
.wrapper1, .wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 205px;
    height: 300px;
    max-height: 300px;
    margin: 15px;   
}
.wrapper1 .activities_items { max-height: 135px; margin:0px}
.wrapper2 .activities_items { max-height: 135px; margin: 0px;}
.activities_title {
    flex: 1 1 100%;
    margin: 30px 15px 15px 15px;
    height: 40px; 
}
.activities_items img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    flex-grow:1;
}
.activities_items_info{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* FOOTER */

.footer_container {
    background-color: var(--grey-res);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin: 0 -40px;
    padding: 0 40px;
}
.footer_item {flex-grow: 1;}
footer ul{
    padding: 0px; 
    flex-grow: 1;
}
.footer_li_title { padding-bottom: 15px; }
footer li {
    margin-bottom: 10px; 
    font-weight: initial;
}

@media screen and (max-width: 1024px){
    .container_hosting-popular { flex-wrap: wrap-reverse; }
    #hosting_container {
        max-width: 100%;
        margin: 0px;
    }
    .hosting_items { flex-basis: 250px; }
    .popular_container{
        max-width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
    .popular_items{
        flex-basis: 100%;
        max-width: 80%;
    }
    
    .popular_items img { object-position: center bottom; }
    .footer_container {margin: 0px;}
    
    .wrapper2 {flex-direction: row; flex: wrap; height: auto;}
    .wrapper2 .activities_items:nth-of-type(2) { margin-left: 30px; }
    

}   
@media screen and (max-width: 900px){
    /* POPULAR */
    /* HOSTING */
    #hosting_container {
        max-width: 100%;
        margin: 0px;
    }
     /* FORM */
     nav .search_form { width: 90%; }
     input {flex-grow: 1;}
     nav .search_form_icon_button {display: block;}
     nav .search_form_button {
         border-radius: 12px;
         width: 45px;
         height: 45px;
         padding: 0px;
     }
   
    
   
   
    
    nav input { width: 60%; }
    nav .search_form_button span {display: none}
   
    nav .search_buttons {
        align-items: flex-start;
        flex-direction: column;
    }
    #filter_first_li { margin-left: 20px; }
    div.search_buttons {margin: 0px;}
    .search_buttons li {margin-bottom: 20px;}
    .wrapper2 {flex-direction: column; flex: nowrap; height: 300px; max-width: 50%;}
    .wrapper2 .activities_items:nth-of-type(2) { margin-left: 0px; }
    
    
}

@media screen and (max-width: 631px)
{
    body {
        padding: 0px; 
        margin: 0px;
    }
    /* HEADER */
    header, nav { padding: 0px 30px;}
    header ul {
        padding: 0px; 
        flex-wrap: wrap; 
    }
    header ul :nth-child(1) {order: 1; flex: 1 0 50%;}
    header ul :nth-child(2) {order: 3; flex: 1 0 50%; margin-left: 20px;} 
    header ul :nth-child(3) {order: 4; flex: 0 0 auto; margin-right: 20px;}
    header ul :nth-child(4) {order: 2; flex: 0 0 auto;}
    header li { padding: 0px 0px 20px 0px; }
   
    /* HOSTING */
    .hosting_items {flex-basis: 100%;}
    /* POPULAR */
    .popular_items {max-width: 100%;}

    /***** NAV */
    nav { align-items: flex-start; }
    nav h1 { margin-top: 0px;}
    /* FORM */
    nav .search_form { width: 70%; }
    input {flex-grow: 1;}
    nav .search_form_icon_button {display: block;}
    nav .search_form_button {
        border-radius: 12px;
        width: 45px;
        height: 45px;
        padding: 0px;
    }
    /* FILTERS */
    nav .search_buttons ul { 
        justify-content: flex-start;
        margin-left: -10px;
    }
    .search_buttons li {margin: 0px 0px 10px 10px;}
    #filter_first_li { margin-left: 0px; }
   
    /* ACTIVITIES */
    .wrapper2, .wrapper1, .activities_items {flex: 1 1 100%; max-width: 100%;}
    #first_item, #fourth_item { max-height: 135px;}
    
    
    
    
    
    

    
}